@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
    color1: light yellow orange
    color2: pale white
    color3: bright yellow
    color4: papaya 
    color5: roasted brown
    color6: grey
*/
:root {
    --color1: #fabb78;
    --color2: #ebeae8;
    --color3: #ebb43d;
    --color4: #aa5c52;
    --color5: #583730;
    --color6: #d8d5d5;

    font-family: "Commissioner", sans-serif;
    box-sizing: border-box;
    
}


body {
    display: flex;              /* Align the entire container in the center */
    justify-content: center;        
    align-items: center;       

    min-height: 100vh;
    background-color: black;
}

.container {
    position: relative;
    width: 850px;
    height: 550px;

    display: flex;
    align-items: center;

    background-color: var(--color1);
    color: var(--color5);

    overflow: hidden;
    border-radius: 50px;
}

.input-box {
    position: absolute; /* The position of both register and login is absolute relative (container's relative position) so to the left and top */
    width: 50%;
    height: 65%;
}

.input-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-box input, .input-box button{
    width: 275px;
    height: 35px;
}

.input-box input { 
    border: 1px solid var(--color1);
    border-radius: 5px;
    background-color: var(--color2);
}

.input-box button {
    border: 1px solid var(--color1);
    border-radius: 5px;
    background-color: var(--color5);
    color: var(--color2);
    font-size: 1em;
}

.input-box button:hover {
    border-color: var(--color5);
    background-color: var(--color2);
    color: var(--color5);
}

.input-box h1 { text-align: center;}


/*  The register and login divs switch places when button to register or to login is clicked 
    Register is at first hidden and it starts to the left by half of the container's width size
    Login is initially visible and seen in the right of the container
*/
.register {
    left: 425px;
    visibility: hidden;
    transition: left 0.6s ease-in-out 1s, visibility 0.1s ease-in-out 1s;
}

.container.active .register{
    left: 0;
    visibility: visible;
}

.login {
    left: 425px;
    visibility: visible;
    transition: left 0.6s ease-in-out 1s, visibility 0.1s ease-in-out 1s;
}

.container.active .login {
    left: 0;
    visibility: hidden;
}

/*  To show the slider moving, it is expanded first to have a longer fluid transition
    Then it initially starts to the left by half of its width
*/
.slider {
    position: absolute;
    width: 200%;
    height: 100%;
    color: var(--color2);
    display: flex;
    border-radius: 100px;
    background: var(--color5);
    left: -1275px;
    transition: left 1.5s ease-in-out;
}

.container.active .slider {
    left: 425px;
}

.slider button {
    width: 100px;
    height: 35px;
    background-color: var(--color5);
    color: var(--color2);
    border: 1px solid var(--color2);
    border-radius: 10px;
    border-color: var(--color2);
}

.slider button:hover {
    background-color: var(--color2);
    color: var(--color5);
}

.welcome, .welcome-back {
    position: absolute;
    width: 25%;
    margin-top: 150px;
    text-align: center;
}

/* Welcome to Contacts Manager is seen at the beginning*/
.welcome {
    left: 1275px;
    opacity: 100%;
    transition: left 1.5s ease-in, opacity 1.4s ease-in;
}
/* Welcome to Contacts Manager is moved to the left of the container (hidden due to containers' hidden overflow)*/
.container.active .welcome {
    left: -850px;
    opacity: 0%;
}

/* Welcome back message is initially hidden */
.welcome-back {
    left: 2125px;
    transition: left 1.5s ease-in, opacity 1.4s ease-in;
    opacity: 0%;
}

/* The welcome back message is visible*/
.container.active .welcome-back {
    left: 0;
    opacity: 100%;
}